<li class="nav-title">
  MS顧客向け機能 
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url('monthly_pttx_report_management_list')}}?group=1&amp;date={{''|pre_month}}">
    <i class="nav-icon fa fa-area-chart"></i>月次パフォーマンスレポート</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url('monthly_manager_contact_report_list')}}?group=1&amp;date={{''|pre_month}}">
    <i class="nav-icon fa fa-bar-chart"></i>月次コンタクトリスト</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url('seminar_list')}}?group=1">
  <i class="nav-icon fa fa-line-chart"></i>セミナーコンタクトリスト</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url('ondemand_list')}}?group=1">
  <i class="nav-icon fa fa-line-chart"></i>オンデマンドコンタクトリスト</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/docs">
    <i class="nav-icon fa fa-book"></i>ガイド/依頼用書式</a>
</li>