#sint-footer{
  width: 900px;
  height: 327px;
  display: inline-block;
  position: relative;

  &-left{
    display: inline-block;
    width: 308px;
    height: 100%;
    float: left;
  }

  &-right{

    width: calc(100% - 308px);
    height: 100%;
    display: inline-block;
    float: left;
    padding-right: 44px;

    #title-cta{
      font-size: 29px;
      color: #ffffff;
      margin-top: 27px;
    }

    #text-provider{
      color: #fff;
      text-align: right;
      margin-top: 14px;
      font-size: 14px;
    }

    .hr-style-sint{
      border-top: 1px solid #afb8c7;
      box-shadow: 0 -2px 1px #0c1e44, 0 -2px 1px #0c1e44, 0 -2px 1px #0c1e44, 0 -2px 1px #0c1e44, 0 -2px 1px #0c1e44, 0 -2px 1px #0c1e44, 0 -2px 1px #0c1e44;
    }

    #text-desciption{
      color: #ffffff;
      font-size: 18px;
      text-align: justify;
    }

    #btn-cta{
      margin-top: 10px;
      position: absolute;
      bottom: 25px;
      right: 44px;
    }

  }

  #sint-img-book{
    width: 196px;
    margin-top: 23px;
    box-shadow: 0 0 7px #ffffff8c;
  }

  
}