{% extends 'email/base/verify/base.html' %}

{% block body %}
<!-- Tại đây bao gồm các biến: username, password, url_confirm -->
<div>
  <p class="content-info" style="margin-bottom: 0; font-weight: 500;">{{company_name}}</p>
  <p class="content-info" style="margin-top: 0">{{full_name}}様</p>
  
  <p class="content-info" style="margin-top: 25px;">お世話になっております。<br>リードプラスの佐藤です。</p>

  <p class="content-info" style="margin-top: 25px;">この度、パートナー様用管理画面にご利用ガイドや各種依頼用書式をダウンロードできる機能を追加いたしました。<br/>今後は管理画面からダウンロードいただきご利用をお願いいたします。</p>
  <p class="content-info" style="margin-top: 25px;">また、ご利用ガイドや依頼用書式はこのタイミングで最新版に更新をしております。<br/>あわせてご確認ください。</p>
  <p class="content-info" style="margin-top: 25px;">【ダウンロードできる書類詳細】</p>
  <p class="content-info" style="margin-top: 25px;">
    ◆ガイド・マニュアル<br/>
    ・サービスご利用ガイド<br/>
    ・ウェビナー開催ガイド<br/>
    ・管理画面ご利用マニュアル<br/><br/>
    ◆依頼用書式<br/>
    ・ダウンロード資料追加依頼書<br/>
    ・セミナー・イベント告知依頼書<br/>
    ・オンデマンドウェビナー掲載依頼書<br/>
    ・ウェビナー開催必要事項一式
  </p>
  <p class="content-info" style="margin-top: 25px;">ご不明な点ございましたら、お気軽にお申し付けください。<br/>引き続きよろしくお願いいたします。</p>

  <p class="content-info" style="margin-top: 25px;">リードプラス　佐藤</p>
  <p class="content-info" style="margin-top: 25px; font-size: 14px;">※このメールにお心当たりがない方は、お手数ですがメールを破棄してください。<br>※このメールは送信専用となっております。返信はできません。</p>
  <p class="content-info" style="margin-top: 25px; margin-bottom: 25px;">お問い合わせはこちらからお願いいたします。</p>
  <p class="content-info" style="margin-top: 25px; margin-bottom: 25px;">お問い合わせフォーム<br>
    <a target="_blank" href="https://www.accu.net/microsoft/contact">https://www.accu.net/microsoft/contact
  </p>
</div>

{% endblock %}