{% extends 'email/base/verify/base.html' %}

{% block title %}
    Download File Title
{% endblock title %}

{% block body %}
<div>
  <p class="content-info" style="margin-bottom: 0; font-weight: 500;">{{company_name}}</p>
  <p class="content-info" style="margin-top: 0">{{last_name}}様</p>

  <p class="content-info" style="margin-top: 25px;">いつもお世話になっております。</p>

  <p class="content-info" style="margin-top: 25px;">「ACCU TOOL」のパスワード再発行の手続きをご案内いたします。</p>
  <p class="content-info" style="margin-top: 25px;">下記URLをクリックいただき、<br>パスワード再発行のお手続きをお願いいたします。</p>
  <p class="content-info">URLの有効期限は、{{expiry_date}}です。</p>
  <p class="content-info" style="font-weight: 500; margin-top: 25px">[URL]</p>
  {{url}}

    <p class="content-info" style="margin-top: 25px;">
  ログインできないなどの問題がございましたら、下記お問い合わせフォームまでご連絡ください。<br>
  <a target="_blank" href="https://www.accu.net/microsoft/contact">https://www.accu.net/microsoft/contact
  </p>
  <p class="content-info" style="margin-top: 25px; margin-bottom: 25px;">どうぞよろしくお願いいたします。</p>
</div>
{% endblock body %}