{% extends 'base/base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><span>契約管理</span></li>
{% endblock %}

{% block main %}
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Modal title</h4>
         </div>
         <div id="form-modal-body" class="modal-body">
           ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
 </div>

<div class="container">
  <h1 class="pt-4 text-center font-weight-bold text-primary">
    契約管理
  </h1>
</div>

<div class="row mx-3 position-relative table-loading">

  <div class="col-12 custom-datatable-toolbar">
    <div class="row">
      <div class="col-8">
        <select class="form-control form-control-toolbar form-control-sm ml-2" id="id_site" onchange="add_param()">
          <option value="-1">- 契約サイト -</option>
          {% for site in list_site%}
            <option value="{{site.pk}}" {{ "selected" if request.GET.get('site') == site.pk|string }}>{{site.en_name}}</option>
          {% endfor %}
        </select>
        <select class="form-control form-control-toolbar form-control-sm ml-2" id="id_customer" onchange="add_param()">
          <option value="-1">- 顧客 -</option>
          {% for customer in list_customer%}
            <option value="{{customer.pk}}" {{ "selected" if request.GET.get('customer') == customer.pk|string }}>{{customer.name}} ({{customer.code}})</option>
          {% endfor %}
        </select>
        <select class="form-control form-control-toolbar form-control-sm ml-2" id="id_plan" onchange="add_param()">
          <option value="-1">-　プラン　-</option>
          {% for plan in list_plans %}
              <option value="{{plan.auth_group.id}}" {{ "selected" if request.GET.get('plan') == plan.auth_group.id|string }}>{{plan.auth_group.name}}</option>
          {% endfor %}
        </select>

        <select class="form-control form-control-toolbar form-control-sm ml-2" id="id_option" onchange="add_param()">
          <option value="-1">- オプション -</option>
          {% for option in list_options %}
              <option value="{{option.auth_group.id}}" {{ "selected" if request.GET.get('option') == option.auth_group.id|string }}>{{option.auth_group.name}}</option>
          {% endfor %}
        </select>

        <select class="form-control form-control-toolbar form-control-sm ml-2" id="id_status_period" onchange="add_param()">
            <option value="-1" {{ "selected" if request.GET.get('status') == '-1' }}>- 状態 -</option>
            <option value="1" {{ "selected" if request.GET.get('status') == '1' }}>開始前</option>
            <option value="2" {{ "selected" if request.GET.get('status') == '2' }}>契約中</option>
            <option value="3" {{ "selected" if request.GET.get('status') == '3' }}>終了</option>
            <option value="4" {{ "selected" if request.GET.get('status') == '4' }}>無効</option>
        </select>
      </div>

      <div class="col-4 text-right">
        {% if request.GET.get('group') != '-1' and request.GET.get('group') and request.GET.get('customer') != '-1' and request.GET.get('customer') and customer_setting_exist %}
          <button data-toggle="modal" data-target="#modalCreateContract" class="btn btn-light border btn-sm mr-2" type="button"
          margin="100px" data-toggle="modal" data-target="#modalCreateContract"><i class="fa fa-plus mr-1"></i>契約を新規追加</button>
        {% endif %}
        <a class="btn btn-light border btn-sm mr-2" href="download-customer-contract-list?group={{request.GET.get('group',-1)}}&site={{request.GET.get('site',-1)}}&customer={{request.GET.get('customer',-1)}}&plan={{request.GET.get('plan',-1)}}&option={{request.GET.get('option',-1)}}&status={{request.GET.get('status',-1)}}">
          <i class="fa fa-download mr-1"></i>CSV出力</a>
        <div class="dropdown d-inline">
          <button class="btn-light border dropdown-toggle btn-sm" type="button"
            id="dropdownAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            アクション
          </button>
          <div class="dropdown-menu pointer" aria-labelledby="dropdownAction">
            <button data-toggle="modal" class="dropdown-item text-danger" data-target="#modalDeleteBulkContract">
              <i class="fa fa-trash mr-1 text-danger"></i>一括削除
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-12 mt-3">
    <table id="table_data" class="table table-not-in-card table-wrapper table-hover table-font-small">
      <thead>
        <tr>
          <th style="width: 0px;" class="no-sort"><input onclick="check_uncheck_all(this);" type="checkbox" name="checkAll" id="check_all"></th>
          <th>顧客名</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>契約期間</th>
          <th>プラン</th>
          <th>契約サイト</th>
          <th>ゴール<br><small>(送信数)</small></th>
          <th>ゴール<br><small>(投稿記事数)</small></th>
          <th>状態</th>
          <th class="text-nowrap">アクション</th>
        </tr>
      </thead>
      <tbody>
        {% for customer_contract in customer_contract_list %}
        <tr>
          <td class="td-check"><input type="checkbox" name="check_all_item" class="checkbox" value="{{customer_contract.pk}}"></td>
          <td class="pt-2 pb-3">
            <div data-toggle="tooltip" title="{{customer_contract.customer.name}}">
              <p class="mb-0 text-ellipsis" style="font-weight: 500;">{{customer_contract.customer.name}}</p>
              <small class="text-muted d-block" style="line-height: 0;">({{customer_contract.customer.code}})</small>
            </div>
          </td>

          <td>{{customer_contract.start_date.strftime('%Y/%m/%d')}}</td>
          <td>{{customer_contract.end_date.strftime('%Y/%m/%d')}}</td>
          <td>{{customer_contract.contract_period}}ヶ月</td>
          <td>
            <p class="mb-0">{{customer_contract.plan.name}}</p>
            {% for option in customer_contract.option.all() %}
              <small class="text-muted">
                ({{option}})
              </small>
            {% endfor %}
          </td>
          <td>
            {% if dict_main_channel.get(customer_contract.customer_id) %}
                {{ dict_main_channel[customer_contract.customer_id] }}
            {% endif %}
          </td>
          <td>{{customer_contract.goal_contacts_monthly}}</td>
          <td>{{customer_contract.goal_total_blogs}}</td>
          <td>
            {% if customer_contract.status == "開始前" %}
            <span class="badge badge-warning" style="width: 60px;">{{customer_contract.status}}</span>

            {% elif  customer_contract.status == "契約中" %}
              <span class="badge badge-success" style="width: 60px;">{{customer_contract.status}}</span>

            {% elif  customer_contract.status == "終了" %}
              <span class="badge badge-danger" style="width: 60px;">{{customer_contract.status}}</span>
            
            {% else %}
              <span class="badge badge-dark" style="width: 60px;">{{customer_contract.status}}</span>
            
            {% endif %}

          </td>
          <td class="text-nowrap">
            <div class="dropdown">
              <button class="btn-light border dropdown-toggle btn-sm dropdown-in-table" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                アクション
              </button>
              <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                {% if request.GET.get('customer',"-1") == "-1" %}
                  <a class="dropdown-item" href="{{url('customer_contract_list') + '?group=' + customer_contract.customer.customer_group.pk|string + '&customer=' + customer_contract.customer.pk|string }}"><i class="fa fa-info-circle mr-1"></i>詳細</a>
                {% endif %}

                <button data-toggle="modal" class="dropdown-item" data-target="#modalUpdateContract"
                  data-contract-id="{{customer_contract.pk}}">
                  <i class="fa fa-edit mr-1"></i>編集
                </button>
                <button data-toggle="modal" class="dropdown-item text-danger" data-target="#modalDeleteContract"
                  data-contract-id="{{customer_contract.pk}}">
                  <i class="fa fa-trash mr-1 text-danger"></i>削除
                </button>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% if request.GET.get('group') != '-1' and request.GET.get('group') and request.GET.get('customer') != '-1' and request.GET.get('customer')%}
  {% with 
    modal_id = 'modalCreateContract',
    modal_title='契約を新規追加' ,
    modal_body_tmp = 'apps/f_1_1_customers/customer_contract/modal/modal_contract_create.html'
  %}
    {% include 'popup/popup_create.html' %}
  {% endwith %}
{% endif %}

{% with 
  modal_id = 'modalDeleteContract',
  modal_title='契約を削除' ,
  modal_body_tmp = 'apps/f_1_1_customers/customer_contract/modal/modal_contract_delete.html'
%}
{% include 'popup/popup_delete.html' %}
{% endwith %}

{% with 
  modal_id = 'modalUpdateContract',
  modal_title='契約を編集' ,
  modal_body_tmp = 'apps/f_1_1_customers/customer_contract/modal/modal_customer_update.html'
%}
{% include 'popup/popup_update.html' %}
{% endwith %}

{% with 
  modal_id = 'modalDeleteBulkContract',
  modal_title='契約を一括に削除' ,
  modal_body_tmp = 'apps/f_1_1_customers/customer_contract/modal/modal_contract_delete_bulk.html'
%}
{% include 'popup/popup_delete_bulk.html' %}
{% endwith %}

{% endblock main %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function () {

    var table = $('#table_data').DataTable(get_option_datatable())
    show_sort_datatable(table)
    disable_enable_checkbox();
  });
  
  $('.checkbox').change(function () {
    disable_enable_checkbox();
  });

  $('#check_all').change(function () {
    disable_enable_checkbox();
  });


  function disable_enable_checkbox(){
    var list_id = [];
    var id = $('.checkbox:checked').map(function(){
      list_id.push($(this).val()); 
    });
    if(list_id.length ==  0 ){
      $("#dropdownAction").css("cursor","no-drop");
      $("#dropdownAction").prop("disabled",true);
    }else{
      $("#dropdownAction").css("cursor","pointer");
      $("#dropdownAction").prop("disabled",false);
    }
  }
  function add_param(){
    disable_element($(".table-loading"))
    var group = 1;  
    var customer = $("#id_customer").val();  
    var site = $("#id_site").val(); 
    var plan = $("#id_plan").val();  
    var option = $("#id_option").val();  
    var status_period = $("#id_status_period").val();  
    
    window.location.search = `?group=${group}&customer=${customer}&site=${site}&plan=${plan}&option=${option}&status=${status_period}`
  }
</script>

{% endblock %}