{# Setting form #}
 <div class="modal fade" id={{modal_id}} tabindex="-1" role="dialog" aria-labelledby={{modal_id}} aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none">
        
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div id="modalBody" class="modal-body" style="min-height: 200px;">
        
        {% with modal_id = modal_id%}
          {% include modal_body_tmp %}
        {% endwith %}
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
  <!-- /.modal-dialog-->
</div>
<!-- /.modal-->
{# End Setting form #}

<script>
  $('#{{modal_id}}').on('shown.bs.modal', function (e) {
  });

  $('#{{modal_id}} .modal-button-submit').click(function(){
  });

  $('#{{modal_id}}').on('hidden.bs.modal', function (e) {
  });
</script>