
{% include 'base/message.html' %}
<div>
  <form method="post" action="" id="user-update-password-form">
    {{ crispy(form) }}
    <input class="btn btn-primary mt-3" type="submit" value="Update">
  </form>
</div>

<script>
  $("#user-update-password-form").submit(function(e) {
    e.preventDefault(); // avoid to execute the actual submit of the form.
    var form = $(this);
    disable_element(form)
    var url = "{{url('update_password',args=(1,))}}";

    $.ajax({
      type: "POST",
      url: url,
      data: form.serialize(), // serializes the form's elements.
      success: function(data)
      {

        form.parent().html(data)
        
      }
      })
    });
</script>