<!-- start coded_template: id:6113294970 path:ClassicV1/templates/email/controls/CT_Header.html -->
<table class="container-fw" style="Margin: 0 auto; background: #eeeeee; border-collapse: collapse; border-spacing: 0; margin: 0 auto; padding: 0; text-align: inherit; vertical-align: middle; width: 100%;">
  <tbody>
    <tr style="padding: 0; text-align: left; vertical-align: middle;">
      <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Noto Sans Japanese', YuGothic, '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;; font-size: 16px;
      font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: middle; word-wrap: break-word;">
        <!-- ************ TABLE INNER ************ -->
        <table align="center" class="container top-header" style="Margin: 0 auto; background: #eeeeee; border-collapse: collapse; border-spacing: 0; margin: 0 auto;
        padding: 0!important; padding: 0; text-align: inherit; vertical-align: middle; width: 661px;">
          <tbody>
            <tr style="padding: 0!important; padding: 0; text-align: left; vertical-align: middle;">
              <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Noto Sans Japanese', YuGothic, '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;; font-size: 16px;
              font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 9px 0!important; padding: 9px 0; text-align: left; vertical-align: middle; word-wrap: break-word;">
                <!-- ************ ROW ************ -->
                <table class="row row-logo">
                  <tbody>
                    <tr style="padding: 0!important; padding: 0; text-align: left; vertical-align: middle;">
                      
                      <!-- ==================================== -->
                      <!-- ============== Logo ================ -->
                      <!-- ==================================== -->
                      <th style="Margin: 0 auto; color: #0a0a0a; font-family: 'Noto Sans Japanese', YuGothic, '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;; font-size: 16px; font-weight: normal; line-height: 1.3;
                      margin: 0 auto; padding: 0; padding-bottom: 0px !important; padding-left: 0px; padding-right: 8px; padding-top: 0px !important; text-align: left">
                      
                        <!-- <div class="widget-span widget-type-email_view_as_web_page" style="color: #fff; font-size: 16px; font-weight: 700; line-height: 15px;">  
                        <a style="font-family: 'Noto Sans Japanese', YuGothic, '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;; font-size: 20px; font-weight: normal; line-height: 1.3;color: #FFF !important;text-decoration:none;" href="{{site_info.url}}">{{site_info.url}}</a><span style="font-family: 'Noto Sans Japanese', YuGothic, '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;; font-size: 20px; font-weight: normal; line-height: 1.3;color: #FFF !important;"> | Daily report</span>
                        </div> -->

                        <img class="img-logo" src="https://www.accu.net/hubfs/Image/accu-logo.png" alt="logo-accu" width="170px"/>
                        
                      </th>
                      <!-- ************ END LEFT COLUMN ************ -->
                      <th class="expander" style="Margin: 0; color: #0a0a0a; font-family: 'Noto Sans Japanese', YuGothic, '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0;"></th>
                    </tr>
                  </tbody>
                </table>
                <!-- ************ END ROW ************ -->
              </td>
            </tr>
          </tbody>
        </table>
        <!-- ************ END TABLE INNER ************ -->
      </td>
    </tr>
  </tbody>
</table>
<!-- ************ CENTER WRAPER ************ -->
<table align="center" class="container center-wrapper">
  <tbody>
    <tr style="padding: 0; text-align: left; vertical-align: middle;">
      <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Noto Sans Japanese', YuGothic, '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: middle; word-wrap: break-word;">
        <!-- ************ LOGO ************ -->
        <table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: middle; width: 100%;">
          <tbody>
            <tr style="padding: 0; text-align: left; vertical-align: middle;">
              <th class="columns first last center-vertical" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Noto Sans Japanese', YuGothic, '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; padding-bottom: 0 !important; padding-left: 0px; padding-right: 0px; padding-top: 0 !important; text-align: left;">
              </th>
            </tr>
          </tbody>
        </table>
        <!-- ********* END LOGO ********* -->