#box-middlecta-right-title .title-main {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

#box-middlecta {
  position: relative; }
  #box-middlecta-background {
    width: 736px;
    height: 352px;
    display: inline-block;
    background: #f6f6f6; }
  #box-middlecta-left {
    width: 244px;
    position: absolute;
    top: 0;
    left: 0; }
  #box-middlecta-img-book {
    max-width: 241px;
    max-height: 352px; }
  #box-middlecta-right {
    position: absolute;
    left: 244px;
    top: 0;
    width: 492px;
    height: 352px; }
    #box-middlecta-right-title {
      font-family: 'Noto San JP', sans-serif;
      font-weight: bold;
      width: 100%;
      font-size: 27px;
      color: #c91c1c;
      padding: 16px 24px 10px 20px;
      line-height: 32px;
      height: 105px;
      position: relative; }
    #box-middlecta-right-hr {
      border: 1px solid #bababa;
      margin-left: 20px;
      margin-right: 24px;
      margin-top: 0;
      margin-bottom: 0; }
    #box-middlecta-right-text-description {
      text-align: justify;
      font-size: 21px;
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 24px;
      color: #404040;
      line-height: 30px; }
    #box-middlecta-right-provider {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 24px;
      margin-bottom: 14px;
      color: #c91c1c;
      font-weight: bold;
      font-size: 15px; }
