#sint-footer {
  width: 900px;
  height: 327px;
  display: inline-block;
  position: relative; }
  #sint-footer-left {
    display: inline-block;
    width: 308px;
    height: 100%;
    float: left; }
  #sint-footer-right {
    width: calc(100% - 308px);
    height: 100%;
    display: inline-block;
    float: left;
    padding-right: 44px; }
    #sint-footer-right #title-cta {
      font-size: 29px;
      color: #ffffff;
      margin-top: 27px; }
    #sint-footer-right #text-provider {
      color: #fff;
      text-align: right;
      margin-top: 14px;
      font-size: 14px; }
    #sint-footer-right .hr-style-sint {
      border-top: 1px solid #afb8c7;
      box-shadow: 0 -2px 1px #0c1e44, 0 -2px 1px #0c1e44, 0 -2px 1px #0c1e44, 0 -2px 1px #0c1e44, 0 -2px 1px #0c1e44, 0 -2px 1px #0c1e44, 0 -2px 1px #0c1e44; }
    #sint-footer-right #text-desciption {
      color: #ffffff;
      font-size: 18px;
      text-align: justify; }
    #sint-footer-right #btn-cta {
      margin-top: 10px;
      position: absolute;
      bottom: 25px;
      right: 44px; }
  #sint-footer #sint-img-book {
    width: 196px;
    margin-top: 23px;
    box-shadow: 0 0 7px #ffffff8c; }
