{% extends 'email/base/base.html' %}

{% block title %}
    Download File Title
{% endblock title %}

{% block body %}
<table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;text-align:left;font-size:14px;color:#333333;line-height:32px;font-weight:normal;" valign="top" align="left">
    <tbody>
        <tr style="padding:0;vertical-align:top;text-align:left" valign="top"
        align="left">
            <td>
                <p style="font-family: 'Noto Sans Japanese', YuGothic, '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;; font-size: 18px; font-weight: bold; line-height: 1.3;Margin: 0 auto;margin: 0 auto; padding: 0; margin-bottom:10px;">
                    Thank you for used TP Tool</p>
            </td>
        </tr>
         <tr style="padding:0;vertical-align:top;text-align:left" valign="top"
            align="left">
            <td
                style="word-wrap:break-word;vertical-align:top;color:#333333;border-collapse:collapse;"
                valign="top" align="left">
                You're receiving this email because you requested a
                password reset for your user account at {{ site_name }}.

                "Please go to the following page and choose a new password:"

                {{ protocol }}://{{ domain }}{{ url('password_reset_confirm',args=[uid,token]) }}


                'Your username, in case you’ve forgotten: {{ user.get_username }}

                "Thanks for using our site!"

                The {{ site_name }} team.
            </td>
        </tr>
        <tr style="padding:0;vertical-align:top;text-align:left" valign="top"
            align="left">
            <td style="border-bottom:1px solid #D8D8D8;line-height:20px;">&nbsp;</td>
        </tr>
    </tbody>
</table>
{% endblock body %}