[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
python-dateutil = "*"
python-pptx = "*"
django-crispy-forms = "*"
django-session-timeout = "*"
importlib-metadata = "==1.7.0"
pyotp = "*"
requests = "*"
django-sslserver = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
django-mysql = "*"
bs4 = "*"
workdays = "*"
install = "*"
django-celery-results = "*"
django-celery-beat = "*"
pyzipper = "*"
selenium = "*"
webdriver-manager = "*"
msoffcrypto-tool = "*"
corsheaders = "*"
pandas = "*"
openpyxl = "*"
Django = "*"
Jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.7"
