/* =================================== */
/* ============= img-book ============ */
/* =================================== */
.wrapper-img{
  position: relative;
  display: inline-flex;
  border: 2px solid #c0c0c0; 
  border-radius: 7px;
}

.line-shadow-white{
  width:100%;
  height: 100%;
  position: absolute;
}

.resize-drag-1 {
  width: 120px;
  border-radius: 8px;
  padding: 20px;
  /* margin: 1rem; */
  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;

  touch-action: none;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

.resize-drag-2 {
  width: 120px;
  border-radius: 8px;
  padding: 20px;
  /* margin: 1rem; */
  background-color: rgb(238, 75, 34);
  color: white;
  font-size: 20px;
  font-family: sans-serif;

  touch-action: none;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

/* =================================== */
/* ============ img-slide ============ */
/* =================================== */
.wrapper-img-slide{
  position: relative;
  display: inline-flex;
  border: 1px solid #c0c0c0; 
  border-radius: 5px;
}

.slide-line-shadow-white{
  width:100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#img-book-slide{
  border-radius: 5px;
}